	<div class="col-md-6">
		<h2>Add a Pup!</h2>
		<a class="btn btn-primary btn-lg active btn-custom2" ng-href="#!/addDog">Add New Dog</a>
	</div>
	<div class="container">
		<div ng-hide="dogForm" class="col-sm-8">
			<div ng-repeat="dog in dogs" class="container">
				<div class="clearfix" ng-if="$index % 4 == 0"></div>
				<div class="col-md-6">
					<div class="panel panel-default">
				  		<div class="panel-heading">
				    		<h3 class="panel-title">{{dog.name}}</h3>
				  		</div>
				  		<div class="panel-body">
				  			<div class="thumbnail">
				  				<img ng-src="{{dog.img}}" class="img-fluid" alt="Responsive image">
				  			</div>
				  			<div>
				  				<button class="btn-custom1 btn btn-primary btn-md active" ng-click="deleteDog(dog.id)">Delete</button>
				  			</div>
				  		</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- DOG EDIT FORM --> 


	<div ng-show="dogForm">
		<div class="input-group">
		  <input type="text" class="form-control" placeholder="dogsName" aria-describedby="basic-addon2">
		</div>
	</div>
