<h3>USER SPECIFIC PROFILE</h3>
<p>be able to create a new dog, read and delete a dog</p>
<div ng-repeat="dog in dogs">
		<div class="col-md-3">
			<div class="panel panel-default">
		  		<div class="panel-heading">
		  			<h3>Your Dog's Profile</h3>
		    		<h3 class="panel-title">{{dog.name}}</h3>
		  		</div>
		  		<div class="panel-body">
		  			<div>
		  				<p>Dog Pic should go here</p>
		  				<img ng-src="{{dogs.url}}">
		  			</div>
		  			<div>
		  				<a ng-href="/#!/editPlace/{{place.id}}">Edit</a>
		  				<button ng-click="deleteCard(place.id)">Delete</button>
		  				<!-- ng-keyup="$event.keyCode == 13 ? newView(place) : null" -->
		  			</div>
		  		</div>
			</div>
		</div>
	</div>

