	<div>
		<h2>Add a Dog to your profile</h2>
		<a class="btn" ng-href="#!/addDog">Add New Dog</a>
	</div>
	<div ng-hide="dogForm">
		<div ng-repeat="dog in dogs" class="container">
			<div class="col-md-3">
				<div class="panel panel-default">
			  		<div class="panel-heading">
			  			<h3>Your Dog's Profile</h3>
			    		<h3 class="panel-title">{{dog.name}}</h3>
			  		</div>
			  		<div class="panel-body">
			  			<div class="container-fluid">
			  				<img ng-src="{{dog.img}}" class="img-fluid" alt="Responsive image">
			  			</div>
			  			<div>
			  				<button ng-click="deleteDog(dog.id)">Delete</button>
			  			</div>
			  		</div>
				</div>
			</div>
		</div>
	</div>

	<!-- DOG EDIT FORM --> 


	<div ng-show="dogForm">
		<div class="input-group">
		  <input type="text" class="form-control" placeholder="dogsName" aria-describedby="basic-addon2">
		</div>
	</div>
