
<h2>Inside the user profile list view</h2>
	<div ng-repeat="place in places">
		<div class="col-md-3">x
			<div class="panel panel-default">
		  		<div class="panel-heading">
		  			<img src="{{place.icon}}">
		    		<h3 class="panel-title">{{place.name}}</h3>
		  		</div>
		  		<div class="panel-body">
		  			<h6>{{place.vicinity}}</h6>
		  			<p>{{place.comment}}</p>
		  			<p>{{place.date | date:"MM/dd/yyyy"}}</p>
		  			<p>Dog Friendly? {{place.isDogFriendly}}</p>
		  			<p>Dog Brought: {{place.dog.name}}</p>

		  			<div>
		  				<a ng-href="/#!/editPlace/{{place.id}}">Edit</a>
		  				<button ng-click="deleteCard(place.id)">Delete</button>
		  				<!-- ng-keyup="$event.keyCode == 13 ? newView(place) : null" -->
		  			</div>
		  		</div>
			</div>
		</div>
	</div>


