app.constants("FIREBASE_CONFIG",{
    apiKey: "",
    authDomain: "",
    databaseURL: "",
    projectId: "",
    storageBucket: "",
    messagingSenderId: "",
    GoogleMapsLoader.KEY = '';
  });

  app.constant("GOOGLE_PLACES", "");